.postListGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

}

.postListList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.postListList .postCard {
    width: 100%;
    max-width: 700px;
    padding: 10px 20px;
    height: 100px;
    padding: 5px 20px;
}

.postCard {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    border-radius: 8px;
    background-color: #f0f0f0;
    max-height: 250px;
    cursor: pointer;
    transition: transform 0.2s ease;
    overflow: hidden;
    gap: 6px;
}


.postCard::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background: linear-gradient(180deg, #FF575C, #00ABF5);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.postCard:hover {
  transform: scale(1.05);
  border: 1px solid blue; 
}

.expandedCard {
    grid-column: 1 / -1;
    max-height: none;
}

.postCard:not(.expandedCard) {
    max-height: 250px;
}

.postCard:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.postCard h3,
.postCard p {
    font-size: 0.95rem;
}