.card {
  position: relative; /* necessário para o ::before */
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  height: 6rem;
  padding: 1rem;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px; 
  height: 100%;
  background: linear-gradient(180deg, #FF575C, #00ABF5);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
  border: 1px solid blue; 
}

.card img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.userInfo h3, .userInfo p {
  font-size: 0.9rem;
}
