* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    "cabecalho cabecalho cabecalho"
    "principal principal principal"
    "rodape rodape rodape";
  min-height: 100vh; 
  width: 100vw;
}

.cabecalho {
  grid-area: cabecalho;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  background-color: #20232a;
  color: white;
  align-content: center;
  justify-items: center;
  padding: 10px;
  position: relative;
}

.cabecalho::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;  
  width: 100%;
  height: 6px; 
  background: linear-gradient(
    90deg,
    #F14959, 
    #FDAA67, 
    #00AAF5, 
    #221D3B  
  );
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px;
}

.header-title {
  height: 72px;
  padding: 5px;

}

.header-title img {
  height: 100%;
  width: auto;
}

.principal {
  grid-area: principal;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.rodape {
  grid-area: rodape;
  display: grid;
  align-items: center;
  background-color: #20232a;
  color: white;
  height: 72px;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
}

.rodape a {
  color: #61dafb;
  text-decoration: none;
}

.rodape a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #f1af21;
}


@media (max-width: 768px) {
  .layoutToggle{
    display: none;
  }
}